# build_style=waf - python3 ./waf configure/build/install
# variables: configure_args, make_build_args, make_check_args, make_install_args,
#            make_check_target (default check)
pkg_name=
version=
revision=1
build_style=waf
short_desc=""
home_page=""
license=""
dist_files=""
checksum=""
depends=""
